@import "display";
@import "show";
@import "new";

.container-studios {
  width: 90%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}


.container-studios-title {
  display:flex;
  align-items:center;
  justify-content:space-between;
}


.container-map {
  display:flex;
  position: relative;
}
