@import "display";
@import "show";
@import "new";

.container-studios {
  width: 90%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}


.delete-button-placeholder {
  position: absolute;
  right: -10px;
  top: -5px;
}

.studios-card-placeholder {
  position: relative;
}

.container-studios-title {
  display:flex;
  align-items:center;
  justify-content:space-between;
}



