.form-control {
  background-color: $purple;
  border: 1px solid $white;
  border-radius: 15px;
}

.container-form-studio {
  margin: 0 auto;
  width: 600px;
  padding-top: 30px;
  padding-bottom: 30px;
}
