
.show-container {
  margin-top: 20px;
  display: flex;
  background-color: #313154;
  border-radius: 5px;
}

.title-header {
  margin-top: 20px;
}

.title-info {
  border: 10px;
  margin: 35px;
  margin-left: 75px;
  padding-top: 10px;
}


#default-img {
  width: 666px;
  height: 466px;
}

.description {
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #313154;
  border-radius: 5px;
  padding: 20px;
}

.btn-show {
  display: flex;
  justify-content: space-between;
}

.icons {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: lighter;

}

.book-btn {
  display: flex;
  justify-content: center;
}

.ownership {
  color: $pink;
  margin-bottom: 15px;
}

