.container {
  margin-top: 35px;
  margin-left: 75px;
  margin-right: 0px;
  padding: 0px;
}

.show-container {
  margin-top: 50px;
  display: flex;
  background-color: #313154;
  border-radius: 5px;
}

.title-info {
  border: 10px;
  margin: 35px;
  margin-left: 75px;
}


#default-img {
  width: 666px;
  height: 466px;
}

.description {
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #313154;
  border-radius: 5px;
  padding: 10px;
}



