<h4>New booking:</h4>
  <%= simple_form_for [ @studio, @booking ] do |f| %>
    <%= f.input :start_date, as: :date, html5: true %>
    <%= f.input :end_date, as: :date, html5: true %>
    <%= f.submit "Submit booking", class: "btn btn-primary"%>
  <% end %>
