.button {
  background-color: #8338ec;
  padding: 10px 20px;
  color:white;
  border-radius:8px;

  &:hover {
    opacity:0.7;
    color:white;
  }
}

.delete-button {
    border-radius: 50%;
    background-color: #f20089;
    width: 10px;
    height: 10px;
    padding: 5px 8px;
    color: white;

  &:hover {
    opacity:0.8;
    color:white;
  }
}


