.button {
  background-color: $fluo-purple;
  padding: 10px 20px;
  color:white;
  border-radius:8px;
  border:none;

  &:hover {
    opacity:0.7;
    color:white;
  }
}


.btn-search {
  background-color: $fluo-purple;
  width:89px;
  height:38px;
  color:white;
  border-radius:8px;
  border:none;

  &:hover {
    opacity:0.7;
    color:white;
  }
}
.booking-btn {
  background-color: #F20089;
  border-radius: 5px;

  color: white;
  padding: 15px 65px;

  &:hover {
    color: white;
    opacity: 0.7;
  }
}

.delete-button {
    border-radius: 50%;
    background-color: $pink;
    width: 10px;
    height: 10px;
    padding: 5px 8px;
    color: white;

  &:hover {
    opacity:0.8;
    color:white;
  }
}

// Placement des buttons "delete" sur une card
.delete-button-placeholder {
  position: absolute;
  right: -10px;
  top: -5px;
}

.studios-card-placeholder {
  position: relative;
}
