.cards {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:15px;
}

.cards-index {
  display:grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap:15px;
}

.card-studio {
  height:280px;
  width: 350px;
  background-color: $light-purple;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border-radius: 5px;

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }
}

.card-studio > img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

.card-studio .card-studio-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-studio-infos .card-studio-user {
  position: absolute;
  right: 16px;
  top: -25px;
  width: 40px;
}

.card-booking {
  background-color: #313154;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
  padding: 10px;
  padding-left: 20px;
  list-style:none;
}


