
<div class="container-mystudios">


  <div class="container-studios-title">
    <div>
      <h1>My studios to rent</h1>
    </div>
    <div>
      <% if policy(Studio).create? %>
        <%= link_to "New studio", new_studio_path, class: "button" %>
      <% end %>
    </div>
  </div>

  <br>

  <div class="cards">
    <% @studios.each do |studio| %>
      <div class="card-studio studios-card-placeholder">
        <div class="delete-button-placeholder">
          <% if policy(studio).destroy? %>
            <% if studio.bookings.length != 0%>
              <a disabled="disabled" class="delete-button" id="sweet-alert-demo">
                <i class="far fa-trash-alt"></i>
              </a>
            <% else %>
              <%= link_to ('<i class="far fa-trash-alt"></i>').html_safe, studio_path(studio), method: :delete, data: { confirm: "Delete #{studio.title}?" }, class: "delete-button" %>
            <% end %>
          <% end %>
        </div>


    <%= render 'shared/card', studio: studio %>


      </div>
    <% end %>
  </div>
</div>

