<ul>
  <% @studios.each do |studio| %>
    <li><%= link_to(studio.title, studio_path(studio)) %>
        <% if policy(studio).destroy? %>
        <%= link_to "Delete", studio_path(studio), method: :delete, data: { confirm: "Delete #{studio.title}?" } %>
      <% end %>
    </li>
  <% end %>
</ul>


<% if policy(Studio).create? %>
  <%= link_to "New studio", new_studio_path %>
<% end %>
